/venv/
**/.pytest_cache/
**/.mypy_cache/
**/__pycache__/
/mods/
**/*.env
/build
/.healer.log
/journeymap/
/knownkeys.txt
/localconfig.cfg
/logs/
/saves/
/stencil*.png
/resourcepacks/
/schematics/
/blueprints/
/betterfps.txt
/crash-reports/
/bettercrashes-*
/backups/
/usernamecache.json
**/*/*.cache
